
/*@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300,500,700";*/




body{
    color: #676a6c;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100 !important;
}

h2{
    font-size: 24px;
}

.bg-color{
    background-color: #2E7D32;
    color:#ffffff;
}

.navbar-default.bg-color ,
.panel-heading.bg-color{
    background-color: #2E7D32;
    color:#ffffff;
}

.text-white{
     color:#fff;
 }

.hr-line-dashed{
    margin-bottom: 30px;

}

.wd-cust{
   padding-left: 6px;
}
.mg-top{
    margin-top: 50px;
}

.mg-bottom{
    margin-bottom: 8px;
}
.sidebar{
    margin-top:77px;
    position:fixed; /*just for test remove if sidebar will abnormal*/
}

#page-wrapper{
    background-color: #f3f3f4;
    padding: 0 15px;

}

.navbar{
    min-height:78px;
}

.logout-link{
    padding-top: 15px;
}

.navbar-default,#wrapper{
    background-color: #fff;
}

.nav-header{
    padding: 33px 25px;
    background: rgba(0, 0, 0, 0) url("../img/mat-head.png") no-repeat scroll 0 0;
}

 .navbar-fixed-top, .navbar-static-top {
    background-color: #1ab394 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.navbar-static-top {
    background: #fff none repeat scroll 0 0;
    border-bottom: medium none !important;
    transition-duration: 0.4s;

}

.sidebar-nav .nav > li.active > a {
    color: #5b5d5f;
    font-weight: 700;
}

.sidebar-nav ul li a.active {
    color: #5b5d5f;
    font-weight: 700;
}

.clear{
    display: block;
    overflow: hidden;
}

.block{
    display:  block !important;
}

.labelname{
    margin-top: 5px;

}

.sidebar-nav .nav > li > a{
    color: #676a6c;
    /*padding: 14px 20px 14px 25px;*/
    /*mao ni cause sa third-level-not-indented*/
    font-weight: 400;
}

.nav > li > a:focus{
    color: #5b5d5f;
    font-weight: 700;
}


.nav .nav-second-level li a{
    /*padding: 7px 10px 7px 52px;*/
    /*mao ni cause sa third-level-not-indented*/
}


.page-heading{
    border-bottom: medium none !important;
    border-top: 0 none;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);
    /*padding: 0 10px 47px;*/
}

.white-bg{
    background-color: #ffffff;
}

.wrapper-content{
    padding: 0px 5px 40px;
}

.box-wrapper{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-top: 25px;
}

.box-content{
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 15px 20px 20px;
}

.nav > li.active {

    border-left: 4px solid #19aa8d;
}

.nav > li.notify {
    border-left: none;

}

.nav.navbar-right > li > a{
    color: #fff;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #1ab394;

}

.box-tool-bar {

    padding: 14px 15px 7px;
}

.login-font-bold{
    font-weight: 500;
    color: #E0E0E0;

}
.profile-element a {
    text-decoration: none;
}

.breadcrumb{
    background-color: #ffffff;
}

.breadcrumb > li a{
   color: inherit;
}

.breadcrumb > li.active:last-child{
    font-weight: 700;
}


.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.table-bordered {
    border: 1px solid #ebebeb;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent none repeat scroll 0 0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background-color: #f5f5f6;
    border-bottom-width: 1px;
}

.pace .pace-progress {
    background: #1ab394;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background:rgb(255,255,255);
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: right;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    min-height: 48px;
    padding: 14px 15px 7px;
}

.ibox-title h5 {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
}

.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

 .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}

.btn-rounded {
    border-radius: 50px;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
    background-color: #18a689;
    border-color: #18a689;
    color: #ffffff;
}

.btn-white {
    background: white none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    color: inherit;
}

span.error{
    color: #ed5565;
    font-weight: bold;
    font-size: 13px;
}

.text-navy {
    color: #1ab394;
}

.text-navy-red{
    color: #ed5565;
}

.modal-footer{
    border-top:0px;
}

.table tr:hover{
    cursor:pointer;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
.table > thead > tr > th {
    border-bottom: 1px solid #dddddd;
    vertical-align: bottom;
}
.table-bordered > thead > tr > th, .table-bordered  thead > tr > td {
    background-color: #f5f5f6;
    border-bottom-width: 1px;

}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.error-box {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 40px;
    z-index: 100;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #1ab394 none repeat scroll 0 0;
    color: #fff;
}

.hidediv{
    display: none;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #1ab394;
    text-decoration: none;
    color: #ffffff;
}

table.tablemodal tr:hover, tr.selected {
    background-color: #1ab394;
     color: #fff;
}

ul.dynatree-container{
    border: none;
}

fieldset.costing{
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.costing{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom:0;
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/roboto-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../public/fonts/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../public/fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../public/fonts/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../public/fonts/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../public/fonts/roboto-v15-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/roboto-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../public/fonts/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../public/fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../public/fonts/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../public/fonts/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../public/fonts/roboto-v15-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../public/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../public/fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../public/fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../public/fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../public/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/roboto-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../public/fonts/roboto-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../public/fonts/roboto-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../public/fonts/roboto-v15-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../public/fonts/roboto-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../public/fonts/roboto-v15-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/roboto-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../public/fonts/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../public/fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../public/fonts/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../public/fonts/roboto-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../public/fonts/roboto-v15-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
