.bg-color{
    background-color: #1ab394;
    color:#ffffff;
}

.navbar-default.bg-color ,
.panel-heading.bg-color{
    background-color: #1ab394;
    color:#ffffff;
}

.btn-primary {
    background-color: #1ab394 !important;
    border-color: #1ab394 !important;
    color: #ffffff;
}

.text-white{
    color:#fff;
}

.login-wrapper{
    padding-top: 48px;

}

#app-layout{
    background-color: #f3f3f4;
}

.btn-primary{
    background-color: #1B5E20;
    border-color: #1B5E20;
}

.login{
    border-bottom: medium none !important;
    border-top: 0 none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 30px 20px 0;
    padding: 20px;
}
