body {
    font: 12px/1.2 Georgia, serif;
}

td.meta-head {
    background: #eee none repeat scroll 0 0;
    text-align: left;
}

td textarea {
    height: 10px;
    text-align: right;
    width: 98%;
}

textarea {
    border: 0 none;
    font: 10px Georgia, serif;
    overflow: hidden;
    resize: none;
}

img{
  width:200px;
}
.headerimage {
    /*background: #222 none repeat scroll 0 0;*/
   /* color: white;
    font: bold 15px Helvetica, sans-serif;
    height: auto;
    letter-spacing: 15px;
    margin: 20px 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;*/
    height: auto;
    margin: 0 0 20px 0;


}

.contentbody{
   margin-top: 2em;

}

div.fl-lf {
    float: left;
}

div.fl-rf {
    float: right;
}

div.box1 {
    width: 100%;
    display: inline-block;
}
div.box3 {
    width: 98%;
    display: inline-block;
}


div.box2 {
    width: 29%;
    display: inline-block;
    margin-left: 135px;

}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid black;
    padding: 3px;
}
.items {
    border: 1px solid black;
    clear: both;
    margin: 5px 0 0;
    width: 100%;
    position: relative;
}
.items th {
    background: #eee none repeat scroll 0 0;
}
.items td.blank {
    border: 0 none;
}
.items td.total-line {
    border-right: 0 none;
    text-align: right;
}
.items td.total-value {
    border-left: 0 none;
    padding: 10px;
}

.particular{
    height: 100px;
    width: 94%;
    border:solid 1px #0f0f0f;

}
.headparticular{
  margin-top:50px;
}

table.noborder td, table.noborder th {
    border: 0;
    padding: 3px;
}

.printdate{
    font-size:9pt;
}

/*quotation order detail
-----------------------------------------------------------------------*/
table.quotation_order_item {
    font-size: 8pt;
    width: 94%;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 2em;
}

table.quotation_order_item>tbody {
    border: 1px solid black;
}

table.quotation_order_item>tbody>tr>th {
    border-bottom: 1px solid black;
}

table.quotation_order_item>tbody>tr>td {
    border-right: 1px solid black;
    padding: 0.5em;
}

td.change_order_total_col {
    padding-right: 4pt;
    text-align: right;
}

td.change_order_unit_col {
    padding-left: 2pt;
    text-align: left;
}
.odd_row td {

    background-color: transparent;
    border-bottom: 0.9px solid #ddd;
}

.even_row td {

    background-color: #f6f6f6;
    border-bottom: 0.9px solid #ddd;
}

h2 {
    font-size: 1.05em;
}

.underlinefield {
    border-bottom: 0.5pt solid black;
}
span.linespan{
    border-bottom: 0.5pt solid black;
    width: 15px;
}